<div class="get-started-main-container">
<div class="get-started-container">
    <div class="get-started-inner-container">
        <h2>Get Started with Relias</h2>
        <h1>How can we help?</h1>
        <p>View the links below to request a demo, get support, and learn about new release updates and training for Relias products</p>
    </div>
</div>
</div>
<div class="support-section">
    <div class="support-section-child">
        <h2>Submit a Demo Request</h2>
        <p>Find out how Relias’ proven solutions can help your organization with staff development, business improvement, compliance, and more. Request a personalized demonstration today.</p>
        <app-button title="GET STARTED" [highlight]=true (onClick)="handleClick('get-started')"></app-button>
    </div>
    <div class="support-section-child need-support-button" (click)="handleClick('support')">
        <img class="headset-svg" src="/svg/headset.svg" alt="'headset"/>
        <div>
            <h3>Need Support?</h3>
            <p>Get in touch with a Relias representative for product support through the Relias Connect portal. </p>
        </div>
    </div>
</div>