:host{
    display:flex;
    align-items: center;
    padding:0 4.5rem;
    height:5.5rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width:100%;
    justify-content: space-between;
    .flex-align-center{
        display:flex;
        flex-direction: row;
        align-items: center;
        gap:2rem;
    }
    .logo{
        height:2.5938rem;
        width:9.75rem;
        cursor:pointer;
    }
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        padding:0;
        li{
            margin-right: 2rem;
        }
    }
    .nav-link{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:0.5rem;
            cursor:pointer;
            p{
                font-size:0.9375rem;
                font-weight: 400;
                color:#4c4c4d;
            }
            span{
                font-size:0.8rem;
                font-weight: 400;
                color:#4c4c4d;
                transform: scaleX(1.5);
            }
        }
    .search-icon{
        cursor:pointer;
    }
}